<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name,class: "form-control" ,autofocus: true %>
    </div>


    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email,class: "form-control" ,autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :password %> <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <%= f.password_field :password,class: "form-control" , autocomplete: "off" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: "form-control" , autocomplete: "off" %>
    </div>
    <div class="form-group">
      <%= f.submit "Sign up",class: "btn btn-primary "  %>
    </div>
      <%= render "devise/shared/links" %>
  <% end %>

