<!DOCTYPE html>
<html>
<head>
  <title>Raddit</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="main_content" class= "container">
    <% flash.each do|name,msg|%>
      <%= content_tag(:div, msg, class: "alert-alert-#{name}") %>
    <%end%>
    <div id="content" class="col-md-9 center-block">
      <%= yield %>
    </div>
  </div>
</body>
</html>
